* {
    scrollbar-width: none;
}

html {
    height: auto;
    width: 100%;
}

body {
    margin: 0;
    background-color: #090128;
    cursor: default;
    overflow-x: hidden;
    caret-color: transparent;
}

#bg {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
}

@media screen and (max-width: 768px) {
    #bg {
        background-image: url('../images/stars.jpg');
        background-size: cover;
        background-position: top;
    }
}

.big-canvas {
    position: relative;
    top: 0px;
    left: 25%;
}

canvas {
    position: relative;
    top: 200px;
    z-index: 0;
}

#scene-container canvas {
  position: relative; /* make z-index work */
  z-index: 0;         /* visible & interactive */
}

/* Tablets and smaller (≤ 1024px) */
@media (max-width: 1024px) {
  #scene-container canvas {
    z-index: -1;        /* push canvas behind, disables interaction */
    pointer-events: none; /* ensure touches go to page, not canvas */
  }
}


.font-archivo {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
}

.font-bungee {
    font-family: 'Bungee', sans-serif;
}

.font-jetBrainsMono {
    font-family: 'JetBrains Mono', sans-serif;
}

.sharp-shadow-head {
    text-shadow: 5px 5px 0 #727272;
    color: #fff;
}

.sharp-shadow-sub-head {
    text-shadow: 4px 4px 0 #7843e6;
    color: #0bbfd6;
}
