html {
    height: auto;
    width: 100%;
}


body {
    margin: 0;
    background-color: #090128;
    cursor: default;
    overflow-x: hidden;
    caret-color: transparent;
}

#bg {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    #bg {
        background-image: url('../images/stars.jpg');
        background-size: cover;
        background-position: top;
    }
}

.big-canvas {
    position: relative;
    top: 0px;
    left: 25%;
}

canvas {
    position: relative;
    top: 200px;
    z-index: 10;
}

.font-archivo {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
}

.font-bungee {
    font-family: 'Bungee', sans-serif;
}

.font-jetBrainsMono {
    font-family: 'JetBrains Mono', sans-serif;
}

.sharp-shadow-head {
    text-shadow: 5px 5px 0 #727272;
    color: #fff;
}

.sharp-shadow-sub-head {
    text-shadow: 4px 4px 0 #7843e6;
    color: #0bbfd6;
}

/* word slider start */
.typing-container {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    color: #cdcdcd;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Adjust as needed */
}

.typing-text {
    overflow: hidden;
    /* Ensures the text is hidden before typing */
    white-space: nowrap;
    /* Prevents text from wrapping */
    border-right: 2px solid transparent;
    /* Placeholder for the cursor */
}

.typing-cursor {
    font-size: 2rem;
    color: #333;
    animation: blink 1s step-end infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* word slider end */